*.iml
.gradle
/local.properties
.idea/
.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/res/values/font_certs.xml
functions/node_modules/
functions/lib/
functions/.env
